<!-- templates/footer.html -->
<footer class="bg-white shadow-sm py-4 mt-auto">
    <div class="container text-center">
        <p class="mb-0">
            © 2024 BONFIRE TEAM.
            <a href="https://www.linkedin.com/in/askhattio/" target="_blank" rel="noopener noreferrer">
                Aubakirov Askhat
            </a>,
            <a href="https://www.linkedin.com/in/azat-kabiden/" target="_blank" rel="noopener noreferrer">
                Kabiden Azat
            </a>,
            <a href="https://www.linkedin.com/in/alexandr-sherstobitov-68434a338/" target="_blank" rel="noopener noreferrer">
                Sherstobitov Alexander
            </a>.
        </p>
    </div>
</footer>

